/*Parada Sánchez Liliana*/
@charset "ISO-8859-1";

#contenedor{
	width: 1080px;
  	margin: auto auto;
}

table{
	border: none;
}

th, td{
	text-align: center;
	font-family: Arial;
	width: 920px;
	margin: auto auto;
}

table th{
	background-color: #3E5892;
	color: white;
}

table tr {
    background-color: #eee;
}

table tr:nth-child(2) {
    background-color: #C5D2EF;
}

table tr:nth-child(even) {
    background-color: #C5D2EF;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

thead, tbody { 
	display: block;
	width: 1080px;
	margin: auto auto; 
}

tbody {
    height: 400px;      
    overflow-y: auto;    
    overflow-x: hidden;  
}

tbody td, thead th {
    width: 131px;
}

td{
	height: 70px;
}

thead th:last-child {
    width: 147px; 
}

td a{
	text-decoration: none;
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #656fae;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

td a:hover{
	opacity: 0.8;
}

td a:focus {
	outline: none;
}


